<section class="skills" id="skills">
    <div class="max-width">
      <h2 class="title">My skills</h2>
      <div class="skills-content">
          <div class="card">
              <div class="box">
                <div class="icon">
                    <mat-icon [inline]="true">code</mat-icon>
                </div>
                <div class="text">Web Design</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
          <div class="card">
              <div class="box">
                <div class="icon">
                    <mat-icon [inline]="true">code</mat-icon>
                </div>
                <div class="text">Web Design</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
          <div class="card">
            <div class="icon">
                <mat-icon [inline]="true">code</mat-icon>
            </div>
            <div class="text">Web Design</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
          </div>
      </div>
    </div>
</section>