.skills{
    color:rgb(44, 42, 42);
    background: #f5f3ed;

}
.skills .title::before{
    background: #111;
}
.skills .skills-content .card{
    width: calc(33% - 30px);
    background: #302e28;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.skills .skills-content .card:hover{
    background: crimson;
    color: white;
}
.skills .skills-content .card .box{
    transition: all 0.1s ease;
}
.skills .skills-content .card:hover .box{
    transform: scale(1.05);
}
.skills .skills-content .card .icon{
    font-size: 80px;
    margin-bottom: 30px;
    transition: color 0.3s ease;
    font-weight: 900;
    color: crimson;
}
.skills .skills-content .card:hover .icon{
    color: #fff;
}
.skills .skills-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media (max-width: 768px) {
    .skills .skills-content .card{
        width: 100%;
        margin-bottom: 1rem;
    } 
}