
/* contact section styling */
.max-width{
    width: 50%;
}
.contact{
    background-color: #f5f3ed;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.contact .contact-content .right p{
    text-align: justify;
}
.contact .contact-content .right .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
    position: relative;
}
.contact .contact-content .row .info{
    margin-left: 30px;
    
}
.contact .contact-content .row .mat-icon{
    font-size: 25px;
    color: #302e28;
}
.contact .contact-content .row a{
    text-align: center;
    color: #302e28;
    font-size: 2rem;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 2rem;
    align-items: center;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
  @media (max-width: 750px) {
    .max-width{
        width: 100%;
    }
    .contact .max-width{
        padding: 2rem auto;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 4rem;
        margin-right: auto;
        margin-left: auto;
          
    }
    .contact .contact-content .column .text{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .contact .left form .fields{
        flex-direction: column;
    }
    .contact .leftt form .name,
    .contact .leftt form .email{
        margin: 0;
    }
    .left form .error-box{
       width: 150px;
    } 
    .left form .button-area button{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}